# Bỏ qua thư mục cyber_productV2 trong addons
addons/cyber_productV2/

# Bỏ qua tất cả các thư mục __pycache__ ở mọi nơi
__pycache__/

# Bỏ qua file docker-compose.yaml
docker-compose.yaml

# Bỏ qua file README.md
README.md
